<%- include("partials/header.ejs") %>

<main>
    <h1>AfterHours 🌙</h1>
    <p>A spot to pour your late-night thoughts, ideas, or just to share your day.</p>

    <h2>Shared Thoughts</h2>
    <!-- Loop through posted stories and display them  -->
    <% posts.forEach(function(post) { %>
        <div>
            <h3><%= post.topic %></h3>
            <p><%= post.content %></p>
            <a href="/view/<%= post.id %>" >Read more</a>
        </div>
    <% }) %>
</main>

<%- include("partials/footer.ejs") %>