<%- include("partials/header.ejs") %>

<main>
    <!-- Hero -->
    <div class="px-4 py-4 my-5 text-center hero"> 
        <h1 class="display-5">Thoughtful. Quiet. Yours.</h1> 
        <div class="col-lg-6 mx-auto py-3"> 
            <p class="lead mb-4">Say what you've been holding in.</p>
        </div> 
    </div>

    <!-- Loop through posted stories and display them  -->
    <% posts.forEach(function(post) { %>
        <div>
            <h3><%= post.topic %></h3>
            <p><%= post.content %></p>
            <a href="/view/<%= post.slug %>" >Read more</a>
        </div>
    <% }) %>
</main>

<%- include("partials/footer.ejs") %>